USE [master]
GO
/****** Object:  Database [кристина 2]    Script Date: 18.01.2022 15:38:15 ******/
CREATE DATABASE [кристина 2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'кристина 2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\кристина 2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'кристина 2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\кристина 2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [кристина 2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [кристина 2]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 18.01.2022 15:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [int] NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Photo] [image] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pavilion]    Script Date: 18.01.2022 15:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pavilion](
	[SC] [nvarchar](50) NOT NULL,
	[Pavilion] [nvarchar](50) NOT NULL,
	[Floor] [decimal](18, 0) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Squer] [decimal](18, 0) NOT NULL,
	[PriceMeter] [money] NOT NULL,
	[AddedValue] [decimal](5, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rent]    Script Date: 18.01.2022 15:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rent](
	[RentID] [int] NOT NULL,
	[RenterID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SC] [nvarchar](50) NULL,
	[Location] [nvarchar](50) NULL,
	[EmployeeID] [int] NOT NULL,
	[Pavilion] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[StartRent] [date] NOT NULL,
	[EndRent] [date] NOT NULL,
 CONSTRAINT [PK_Rent] PRIMARY KEY CLUSTERED 
(
	[RentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Renter]    Script Date: 18.01.2022 15:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Renter](
	[RenterID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [decimal](18, 0) NULL,
	[Address] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Renter] PRIMARY KEY CLUSTERED 
(
	[RenterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SC]    Script Date: 18.01.2022 15:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SC](
	[Name] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[QuantittyPavilion] [int] NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Price] [money] NOT NULL,
	[AddedValue] [numeric](5, 2) NOT NULL,
	[Floor] [decimal](18, 0) NOT NULL,
	[Photo] [image] NULL,
 CONSTRAINT [PK_SC] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Employees] ([ID], [FullName], [Login], [Password], [Position], [Phone], [Gender], [Photo]) VALUES (1, N'Чашин*Елизар*Михеевич', N'Elizor@gmai,com', N'yntiRS', N'Администратор', N' +7(1070)628 29 16', N'Мужской', NULL)
INSERT [dbo].[Employees] ([ID], [FullName], [Login], [Password], [Position], [Phone], [Gender], [Photo]) VALUES (2, N'Филенкова*Владлена*Олеговна', N'Vladlena@gmai.com', N'07i7Lb', N'Менеджер А', N' +7(334)1460151', N'Женский', NULL)
INSERT [dbo].[Employees] ([ID], [FullName], [Login], [Password], [Position], [Phone], [Gender], [Photo]) VALUES (3, N'Ломовцев*Адам*Владимирович', N'Adam@gmai.com', N'7SP9CV', N'Менеджер С', N'+7(8560)519-32-99', N'Мужской', NULL)
GO
INSERT [dbo].[Pavilion] ([SC], [Pavilion], [Floor], [Status], [Squer], [PriceMeter], [AddedValue]) VALUES (N'Мега Белая Дача', N'88А', CAST(1 AS Decimal(18, 0)), N'Свободен', CAST(75 AS Decimal(18, 0)), 3308.0000, CAST(0.10 AS Decimal(5, 2)))
INSERT [dbo].[Pavilion] ([SC], [Pavilion], [Floor], [Status], [Squer], [PriceMeter], [AddedValue]) VALUES (N'Авиапарк', N'40А', CAST(3 AS Decimal(18, 0)), N'Забронировано', CAST(96 AS Decimal(18, 0)), 690.0000, CAST(1.10 AS Decimal(5, 2)))
INSERT [dbo].[Pavilion] ([SC], [Pavilion], [Floor], [Status], [Squer], [PriceMeter], [AddedValue]) VALUES (N'Мега Белая Дача', N'76Б', CAST(2 AS Decimal(18, 0)), N'Удален', CAST(199 AS Decimal(18, 0)), 4938.0000, CAST(0.90 AS Decimal(5, 2)))
GO
INSERT [dbo].[Rent] ([RentID], [RenterID], [Name], [SC], [Location], [EmployeeID], [Pavilion], [Status], [StartRent], [EndRent]) VALUES (1, 2, N'Мега', N'Белая', N'Дача', 2, N'88А', N'Открыт', CAST(N'2019-01-24' AS Date), CAST(N'2020-11-17' AS Date))
INSERT [dbo].[Rent] ([RentID], [RenterID], [Name], [SC], [Location], [EmployeeID], [Pavilion], [Status], [StartRent], [EndRent]) VALUES (2, 2, N'Авиапарк', N'', N'', 7, N'40А', N'Ожидание', CAST(N'2019-11-21' AS Date), CAST(N'2020-04-18' AS Date))
INSERT [dbo].[Rent] ([RentID], [RenterID], [Name], [SC], [Location], [EmployeeID], [Pavilion], [Status], [StartRent], [EndRent]) VALUES (3, 5, N'Рио', N'', N'', 11, N'61А', N'Закрыт', CAST(N'2018-11-12' AS Date), CAST(N'2019-06-28' AS Date))
GO
INSERT [dbo].[Renter] ([RenterID], [Name], [Phone], [Address]) VALUES (1, N'AG Marine', NULL, N'Москва, Бабаевская улица д.16')
INSERT [dbo].[Renter] ([RenterID], [Name], [Phone], [Address]) VALUES (2, N'Art-elle', NULL, N'Санкт-Петербург, Амбарная улица д.25 корп.1')
INSERT [dbo].[Renter] ([RenterID], [Name], [Phone], [Address]) VALUES (3, N'Atlantis', NULL, N'Новосибирск, Улица Каменская д.16')
GO
INSERT [dbo].[SC] ([Name], [Status], [QuantittyPavilion], [City], [Price], [AddedValue], [Floor], [Photo]) VALUES (N' Армада   ', N'План', 0, N'Ростов-на-Дону ', 9172489.0000, CAST(0.90 AS Numeric(5, 2)), CAST(1 AS Decimal(18, 0)), NULL)
INSERT [dbo].[SC] ([Name], [Status], [QuantittyPavilion], [City], [Price], [AddedValue], [Floor], [Photo]) VALUES (N' Весна    ', N'Удален', 3, N'Нижний Новгород', 4687701.0000, CAST(0.80 AS Numeric(5, 2)), CAST(1 AS Decimal(18, 0)), NULL)
INSERT [dbo].[SC] ([Name], [Status], [QuantittyPavilion], [City], [Price], [AddedValue], [Floor], [Photo]) VALUES (N' Гудзон   ', N'Реализация', 3, N'Екатеринбург', 7414460.0000, CAST(0.00 AS Numeric(5, 2)), CAST(1 AS Decimal(18, 0)), NULL)
GO
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Rent_Renter] FOREIGN KEY([RenterID])
REFERENCES [dbo].[Renter] ([RenterID])
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Rent_Renter]
GO
USE [master]
GO
